.portfolioimage {width: 250px;
                height: 210px;
                float: left;
                transform: rotate(90deg);
            }
    
.links {float: right;
}

.outline {    border-bottom: 2px solid #cccccc;
    padding: 39px;
    background: #ffffff;
}

.header {background-color: #ffffff;
}

body {background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ExspEUkoliksz67w8/green-matrix-background_r1gl8-f__F0000.png");
    margin:0;}

.name {background: #4aaaa5;
        color: white;
        float: left;
        margin-left: 13%;
        margin-top: 0;
        padding: 21px;
    }

.aboutme {clear: both;
        }

.wrapper {width: 600px;
        padding: 20px;
        margin: 0 auto;
        height: 570px;
        background: #ffffff;
        border: 2px solid #dddddd;
    }


.aboutmetext {font-size: 40px;
            height: 100px;
            color: #4aaaa5;}

.footer {clear: both;
        text-align: center;}